*{
    margin: 0;
}
.title.red{
padding: 40px ;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.img{
    padding: 10px;
    display: flex;
    
}
.imgPub{
    width: 500px;
    height: 300px;
    
}
.imgSrc{
    width: 500px;
    height: 300px;
}